.mainAboutMe {
    width: 100%;
    height: 100vh;
}

/* section qui suis je */
.top {
    height: 50%;
    display: flex;
}

.span {
    font-size: 28px;
    font-family: 'poppins', 'sans-serif';
    font-weight: bold;
}
.text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 70px;
    color: #3FC7E0;
    font-family: 'roboto', sans-serif;
    line-height: 35px;
    text-align: justify;
    font-size: 16px;
}

.btnContact {
 background: linear-gradient(90deg, #209CEE, #3FC7E0);
 padding: 10px;
 border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.blocImg {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* fin section qui suis je */

.down {
    height: 50%;
    display: flex;
}

@media (max-width:660px) {
    .mainAboutMe {
        height: auto;
    }
   .top, .down{
    flex-direction: column;
    height: auto;
   }
    .blocImg {
        display: none;
    }
     .text{
        width: 100%;             
        padding: 20px; 
        font-size: 14px;  
        line-height: 30px;      
  }
   
}