.mainContact {
    background: linear-gradient(11deg,rgba(86, 94, 230, 1) 0%, rgba(84, 94, 230, 1) 65%, rgba(131, 86, 234, 1) 100%);
    width: 100%;
    height: 100vh;
}

.h1 {
    padding: 20px;
    padding-left: 70px;
    color: white;
    font-family: 'poppins';
}

.containerContact {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 75%;
}

.input, .btn {
    width: 35%;
    padding: 20px;
    border-radius: 10px;
    border: none;
}

.formBtn {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background: linear-gradient(90deg, #209CEE, #3FC7E0);
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
  background: linear-gradient(90deg, #3FC7E0, #209CEE);
  font-weight: bold;
}

.alert {
    color: red;
    font-style: italic;
    font-weight: bold;
}

@media (max-width:660px) {

    .h1 {
        text-align: center;
        padding: 0;
        padding-top: 20px;
    }
    
    .containerContact {
        justify-content: start;
        margin-top: 20px;
    }
    .input, .btn{
        width: 60%;
    }
}