.main {
  background: linear-gradient(11deg,rgba(86, 94, 230, 1) 0%, rgba(84, 94, 230, 1) 65%, rgba(131, 86, 234, 1) 100%);
  width: 100%;
  height: 100vh;
}

/* barre de navigation */
.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 70px;
  gap: 30px;
  height: 15%;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}
.linkText {
  display: flex;
  text-align: center;
  text-decoration: none;
  color: white;
  position: relative;
}

.linkText::after{
content: ""; /* créer un element vide pour appliquer du style, sinon after ne peut fonctionner */
  position: absolute;
  right: 0;
  bottom: 0;
  height: 1.5px;
  background-color: #3FC7E0;
  width: 0%;
  transition: width 0.8s ease;
}

.linkText:hover::after {
  width: 100%;
}
/* fin barre de navigation */

/* section de texte */
.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  line-height: 40px;
  gap: 20px;
  height: 45%;
  color: white;
  margin-left: 150px;
  margin-right: 150px;
}

.textH1 {
  font-family: 'poppins', sans-serif;
  font-size: 36px;
}

.textH3 {
  font-family: 'roboto', sans-serif;
  font-size: 24px;
}
/* fin de section de texte */

/* section du bouton acces formulaire */
.button {
 height: 15%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.textButton {
  padding: 30px;
  width: 30%;
  border: none;
  border-radius: 15px;
  background: linear-gradient(90deg, #209CEE, #3FC7E0);
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.textButton:hover {
  background: linear-gradient(90deg, #3FC7E0, #209CEE);
  font-weight: bold;

}
/* fin section du bouton acces formulaire */

/* section des logos */
.image {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.logo {
  width: 50px;
}


/* _____________________________________________tablet view */
@media (max-width:860px) {
 
.textButton {
  padding: 10px;
  }
}


/* _____________________________________________smartphone view */
@media (max-width:660px) {
  .linkText {
    position: none;
  }
   .navbar {
    padding:10px;
    justify-content: center;
  }
  .hero {
    line-height: 28px;
    margin: 10px;
  }
  .textH1 {
    width: 100%;
    font-size: 16px;
  }
  .textH3 {
    width: 100%;
    font-size: 14px;
  }
  }
