.more {
    margin: 40px;
    height: auto;
    padding-left: 70px;
    padding-right: 70px;
    color: #3FC7E0;
    text-align: center;
}

.card {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 300px;
}

.cardIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 360px;
    border: 1px #3FC7E0 solid;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.cardIn:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}


.title {
    height: 80px;
}

@media (max-width:660px) {
    .card {
        height: auto;
        gap: 5px;
        flex-direction: column;
        align-items: center;
    }
}