.mainProject {
    background:linear-gradient(350deg,rgba(32, 156, 238, 1) 0%, rgba(63, 199, 224, 1) 50%, rgba(32, 156, 238, 1) 100%);
    width: 100%;
    height: 100vh;
}

.mainTitle {
    padding: 20px;
    padding-left: 70px;
    color: white;
    font-family: 'poppins';
}

.cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}

.card {
    width: 300px;
    height: 500px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card:hover {
     transform: translateY(-5px) scale(1.02);
     box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.cardImage {
    height: 40%;
    width: 100%;
    overflow: hidden;
    padding: 5px;
}

.img {
    width: 100%;
    height:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.cardTexte {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60%;
    padding: 15px;
}

.h3 {
    font-family: 'poppins';
    font-weight: bold;
    margin: 0;
    color: #209CEE;
}

.description {
    font-family: 'roboto';
    color: #3FC7E0;
    margin-top: 10px;
}

.cardBtn {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
    
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 15px;
  background: linear-gradient(90deg, #209CEE, #3FC7E0);
  color: white;
  font-size: 12px;
}

@media (max-width:660px) {
    .mainProject {
        height: auto;
        padding: 20px;
    }
    .card {
        height: auto;
    }
    .cardImage {
        display: none;
    }
    .mainTitle {
        text-align: center;
        padding: 0;
    }
    .cardContainer {
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .cardTexte {
      padding: 0;
        gap: 10px;
    }
}
